<h1><%= @author.name %></h1>
<%= link_to "New Post", new_author_post_path(@author)%>
<%# links to new path for that author to add new posts for that specific author from author page %>
<p>Posts:</p>
<% @author.posts.each do |post| %>
  <div><%= post.title %></div>
<% end %>
